@font-face {
    font-family: dankmono;
    src: url("../fonts/dankmono_normal.otf");
    font-style: normal;
}

@font-face {
    font-family: dankmono;
    src: url("../fonts/dankmono_italic.otf");
    font-style: italic;
}

h1 {
    font-family: dankmono;
}

:root {
    font-family: dankmono;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td, th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, textarea, select {
    font-family: inherit;
}

input.table-input:not([type="submit"]) {
    border: 1.5px solid;
    border-color: #00CED1;
    background-color: #f0ffff;
    transition: border-color 100ms linear;
}

input.table-input:not([type="submit"]):hover {
    border-color: #1E90FF;
}

input.table-input:not([type="submit"]):focus {
    outline: none;
    border-color: #0000FF;
}

td.td-hide {
    display: none;
}

tr.tr-delete {
    background-color: #FF8080;
}

tr.tr-update {
    background-color: #FFAA77;
}

tr.tr-insert {
    background-color: #90EE90;
}

.outline {
    outline: 2px solid black;
    padding: 1ch;
    margin: 2px;
    margin-top: 0;
}
