@font-face {
    font-family: dankmono;
    src: url("../fonts/dankmono_normal.otf");
    font-style: normal;
}

@font-face {
    font-family: dankmono;
    src: url("../fonts/dankmono_italic.otf");
    font-style: italic;
}

:root {
    font-family: dankmono;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td, th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

input, textarea, select {
    font-family: inherit;
}

.table-input:not([type="submit"]) {
    border: 1.5px solid;
    border-color: #00CED1;
    background-color: #f0ffff;
    transition: border-color 100ms linear;
}

.table-input:not([type="submit"]):hover {
    border-color: #1E90FF;
}

.table-input:not([type="submit"]):focus {
    outline: none;
    border-color: #0000FF;
}
