{% extends "styled.html" %}

{% block css %}
<style>
    .choice {
        margin-left: auto;
        margin-right: auto;
        width: min-content;
        margin-top: 25%;
        display: block;
        align-items: center;
        text-align: center;
    }
/*     .choice>*{
        margin-left: auto;
        margin-right: auto;
        width: min-content;
    }
     */
    h1 {
        position: absolute;
        /* top:50%; */
        top: calc(50% - var(--navbar-height));
        left:50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        font-size: 60px;
    }

/*     .background {
        background-image: url("{{ url_for('static', filename='image/bckimg.jpg') }}");
        background-size: cover;
        background-position: center;
        /* height: 100vh; */
/*         height: calc(100% - var(--navbar-height)); */
        /* width: 100vw; */
/*         width: 100%;
        position: absolute;
    } */ 
</style>
{% endblock %}

{% block title %}
Splash page
{% endblock %}

{% block body %}
<h1>Welcome</h1>
<div class='choice'>
    <a href="/dashboard" class='button glow-button'><i>Dashboard</i></a><br>
    <br>
    <br>
    <a href="/login" class='button glow-button'><i>Login</i></a>
</div>
{% endblock %}