{% extends "styled.html" %}

{% block title %}
View
{% endblock %}

{% block body %}
<h1>View</h1>
<div class="center-form center-line"
    <a href="./view/student" class='button glow-button'><i>Student</i></a><br>
    <br>
    <br>
    <a href="./view/class" class='button glow-button'><i>Class</i></a><br>
    <br>
    <br>
    <a href="./view/club" class='button glow-button'><i>Club</i></a><br>
    <br>
    <br>
    <a href="./view/activity" class='button glow-button'><i>Activity</i></a><br>
</div>
{% endblock %}