{% extends "styled.html" %}

{% block title %}
View {{ entity }}
{% endblock %}

{% block css%}
<style>
    h1 {
        position: center
    }
    filters {
        position: center
    }

    .help-tooltip:hover {
        cursor: default;
    }

    .help-tooltip:hover::after {
        font-size: 14px;
        color: #bcecf7;
        content: "\A💡 Pro Tip: Everything is case sentitive";
        white-space: pre;
    }
</style>
{% endblock %}

{% block body %}
<h1>View {{ entity }}</h1>
<div id="filters">
    <h3>Search By: <span class="help-tooltip">?</span></h3>
    <!-- filters to search by -->
    {{ form|safe }}
</div>
<div id="result">
    <h3>Results:</h3>
    <!-- records found or not found msg -->
    {{ table|safe }}
</div>
{% endblock %}